{% load static %}

<div style="margin: 10px; position: relative;">

    <a href="{% url 'omtv:programme_fiche' %}?id={{programme.id}}">
        <img 
            src="{{ programme.affiche }}"
            alt="{{ programme.title }}" 
            title="{{ programme.title }}" 
            class="img-thumbnail"  
            style="{{ size }}object-fit: cover;"
            onerror="this.onerror=null; this.src='{% static 'omtv/images/affiche_empty.jpg' %}'"
        >
    </a>

    {% if with_props %}
    <div class="d-flex justify-content-between align-items-center" 
        style="position: absolute; bottom: 0; left: 0; right: 0; z-index: 10; background: rgba(255, 255, 255, 0.0);">
        <img src="{{ programme.channel.visuel }}" alt="{{ programme.channel }}" title="{{ programme.channel }}" style="height: 40px; padding-left: 10px;">
        <p class="affiche-hdeb mb-0" style="margin-right: 10px;">{{ programme.hdeb }}</p>
    </div>
    {% endif %}
</div>
