{% load static %}

<div style="margin: 10px; position: relative;">

    <a href="{% url 'omtv:programme_fiche' %}?id={{programme.id}}">
    <img 
        src="{{ programme.affiche }}"
        alt="{{ programme.title }}" 
        title="{{ programme.title }}" 
        class="img-thumbnail"
        style="width: 180px; object-fit: cover;"        
        onerror="this.style.display='none'; document.getElementById('imageErrorText_{{programme.id}}').style.display='block';"
    >
    </a>

    <!-- onerror="this.style.display='none'; document.getElementById('imageErrorText_{{programme.id}}').style.display='block';" -->
    <!-- onerror="this.onerror=null; this.src='{% static 'omtv/images/affiche_empty.jpg' %}'" -->

    <div id="imageErrorText_{{programme.id}}" style="display: none; text-align: center; width:180px; height: 30px; border:1px solid white;">

        <!-- <a href="{% url 'omtv:programme_fiche' %}?id={{programme.id}}" style="font-size: 16px">{{ programme.title }}</a> -->
        <a href="{% url 'omtv:programme_fiche' %}?id={{programme.id}}" style="font-size: 16px">
            <img 
            src="{% static 'omtv/images/affiche_empty.jpg' %}"
            alt="{{ programme.title }}" 
            title="{{ programme.title }}" 
            class="img-thumbnail"
            style="width: 180px; object-fit: cover;"            
        >
        </a>
    </div>    

    <div class="d-flex justify-content-between align-items-center" 

         style="position: absolute; bottom: 0; left: 0; right: 0; z-index: 10; background: rgba(255, 255, 255, 0.0);">
         <img src="{{ programme.channel.visuel }}" alt="{{ programme.channel }}" title="{{ programme.channel }}" style="height: 40px; padding-left: 10px;">
        <p class="affiche-hdeb mb-0" style="margin-right: 10px;">{{ programme.hdeb }}</p>


    </div>
</div>
