<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, world!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body class="bg-dark text-light">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <div class="container">    
      <h1>Hello, worldWide!</h1>
      <hr>      

      <!-- <a href="#"><img src="https://image.tmdb.org/t/p/w500/dic3GdmMpxxfkCQfvZnasb5ZkSG.jpg" class="img-thumbnail"  style="width:170px;object-fit: cover;"></a> -->
<!--       
      <div class="d-flex flex-wrap justify-content-center" >
        <div class="m-1"><a href="#"><img src="https://image.tmdb.org/t/p/w500/dic3GdmMpxxfkCQfvZnasb5ZkSG.jpg" style="width:170px;"></a></div>
        <div class="m-1"><a href="#"><img src="https://image.tmdb.org/t/p/w500/dic3GdmMpxxfkCQfvZnasb5ZkSG.jpg" style="width:170px;"></a></div>
        <div class="m-1"><a href="#"><img src="https://image.tmdb.org/t/p/w500/lS2kaajegMOTLD0GYyLxsdvhLfI.jpg" style="width:170px;"></a></div>
        <div class="m-1"><a href="#"><img src="https://image.tmdb.org/t/p/w500/kLeBccUQV88Dv5dILPQcG18tq1u.jpg" style="width:170px;"></a></div>
        <div class="m-1"><a href="#"><img src="https://image.tmdb.org/t/p/w500/l8HyObVj8fPrzacAPtGWWLDhcfh.jpg" style="width:170px;"></a></div>
        <div class="m-1"><a href="#"><img src="https://image.tmdb.org/t/p/w500/2ti3l1OeB8G94yyqfAI7nmMZUbA.jpg" style="width:170px;"></a></div>
        <div class="m-1"><a href="#"><img src="https://image.tmdb.org/t/p/w500/e7G9qdYdQBJ5MEDAH7id0vMEBbi.jpg" style="width:170px;"></a></div>
        <div class="m-1"><a href="#"><img src="https://image.tmdb.org/t/p/w500/bhHhTCh43aT3kAeknSd5T5BcZcJ.jpg" style="width:170px;"></a></div>
        <div class="m-1"><a href="#"><img src="https://image.tmdb.org/t/p/w500/2S0Su5mieHGXXLQ4EQYWr28uXBF.jpg" style="width:170px;"></a></div>
        <div class="m-1"><a href="#"><img src="https://image.tmdb.org/t/p/w500/saAth3sdRt1T7xG3Tt2o3HpMAFp.jpg" style="width:170px;"></a></div>
        <div class="m-1"><a href="#"><img src="https://image.tmdb.org/t/p/w500/AcKVlWaNVVVFQwro3nLXqPljcYA.jpg" style="width:170px;"></a></div>
        <div class="m-1"><a href="#"><img src="https://image.tmdb.org/t/p/w500/ilDhdNVfP8uxnZKasA1mbzGl0Y8.jpg" style="width:170px;"></a></div>
        <div class="m-1"><a href="#"><img src="https://image.tmdb.org/t/p/w500/dic3GdmMpxxfkCQfvZnasb5ZkSG.jpg" style="width:170px;"></a></div>
      </div>
 -->


      <!-- 
        col-6 col-sm-4 col-md-3 col-lg-2 signifie que chaque colonne prendra :

          - col-6     : (occupe 6 sur 12) soit 50% de la largeur sur les écrans très petits, 
          - col-sm-4  : (occupe 4 sur 12) soit 33% sur les écrans petits, 
          - col-md-3  : (occupe 3 sur 12) soit 25% sur les écrans moyens, 
          - col-lg-2  : (occupe 2 sur 12) soit 16% sur les écrans larges. 

        mb-3 : La classe mb-3 ajoute une marge en bas pour chaque colonne, créant ainsi un espacement entre les lignes d'images.
        img-fluid : Cette classe garantit que les images sont fluides et s'adaptent à la largeur de leurs conteneurs.
      -->

      <div class="container">
        <div class="row justify-content-start">
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">            <a href="#"><img src="https://image.tmdb.org/t/p/w500/dic3GdmMpxxfkCQfvZnasb5ZkSG.jpg" class="img-thumbnail img-fluid"></a>          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">            <a href="#"><img src="https://image.tmdb.org/t/p/w500/dic3GdmMpxxfkCQfvZnasb5ZkSG.jpg" class="img-thumbnail img-fluid"></a>          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">            <a href="#"><img src="https://image.tmdb.org/t/p/w500/lS2kaajegMOTLD0GYyLxsdvhLfI.jpg" class="img-thumbnail img-fluid"></a>          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">            <a href="#"><img src="https://image.tmdb.org/t/p/w500/kLeBccUQV88Dv5dILPQcG18tq1u.jpg" class="img-thumbnail img-fluid"></a>          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">            <a href="#"><img src="https://image.tmdb.org/t/p/w500/l8HyObVj8fPrzacAPtGWWLDhcfh.jpg" class="img-thumbnail img-fluid"></a>          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">            <a href="#"><img src="https://image.tmdb.org/t/p/w500/2ti3l1OeB8G94yyqfAI7nmMZUbA.jpg" class="img-thumbnail img-fluid"></a>          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">            <a href="#"><img src="https://image.tmdb.org/t/p/w500/e7G9qdYdQBJ5MEDAH7id0vMEBbi.jpg" class="img-thumbnail img-fluid"></a>          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">            <a href="#"><img src="https://image.tmdb.org/t/p/w500/bhHhTCh43aT3kAeknSd5T5BcZcJ.jpg" class="img-thumbnail img-fluid"></a>          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">            <a href="#"><img src="https://image.tmdb.org/t/p/w500/2S0Su5mieHGXXLQ4EQYWr28uXBF.jpg" class="img-thumbnail img-fluid"></a>          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">            <a href="#"><img src="https://image.tmdb.org/t/p/w500/saAth3sdRt1T7xG3Tt2o3HpMAFp.jpg" class="img-thumbnail img-fluid"></a>          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">            <a href="#"><img src="https://image.tmdb.org/t/p/w500/AcKVlWaNVVVFQwro3nLXqPljcYA.jpg" class="img-thumbnail img-fluid"></a>          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">            <a href="#"><img src="https://image.tmdb.org/t/p/w500/ilDhdNVfP8uxnZKasA1mbzGl0Y8.jpg" class="img-thumbnail img-fluid"></a>          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">            <a href="#"><img src="https://image.tmdb.org/t/p/w500/dic3GdmMpxxfkCQfvZnasb5ZkSG.jpg" class="img-thumbnail img-fluid"></a>          </div>
        </div>
      </div>
      




      <!-- <div class="container border">
        
        <div class="row">
          <div class="col-sm-6">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
          <div class="col-sm-2">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
          <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
        </div>
      </div> -->

    </div>
  </body>
</html>