{% extends 'base_nav.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block page_content %}

<a href ="{% url 'omtv:import_xml_data' %}">import_xml_data</a>
<br> 
<br> 
<a href="{% url 'omtv:old_programmes' %}">old_programmes</a>
<br> 
<br> 
<a href="{% url 'omtv:preferences' %}">Préférences</a>
<br> 
<br> 
<a href ="{% url 'omtv:stats' %}">Satistiques</a>
<br> 
<br> 
<a href="{% url 'admin:index' %}">Page ADMIN</a>
<br> 
<br> 
<a href="{% url 'accounts:logout' %}">Déconnexion</a>
<br> 
<br> 
    {% if last_imports %}
        <h2>10 derniers imports réalisés :</h2>
        <ul>
        {% for import_instance in last_imports %}
            <li>{{ import_instance }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Aucun import réalisé.</p>
    {% endif %}    
{% endblock %}  