{% extends 'base_nav.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block page_content %}


<!-- <a href ="{% url 'omtv:update_db' %}?mode=s">Update DB - Static</a> 
<br> 
<br> 
<a href ="{% url 'omtv:update_db' %}?mode=r">Update DB - Resquests</a>
<br> 
<br> 
<a href ="{% url 'omtv:update_db' %}?mode=u">Update DB - urllib.Requests</a>
<br>  -->

<a href ="{% url 'omtv:task_main' %}">Task Main</a>
<br> 
<br> 
<a href ="{% url 'omtv:stats' %}">Satistiques</a>
<br> 
<br> 
<a href="{% url 'admin:index' %}">Page ADMIN</a>
<br> 
<br> 
<a href="{% url 'accounts:logout' %}">Déconnexion</a>
<br> 
<br> 
    
{% endblock %}  