{% extends 'base.html' %}
{% load static %}
{% block title %}Preferences{% endblock %}

{% block script %}

<script>
    // Fonction pour cocher toutes les cases à cocher
    function checkAll(valeur) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]:not(#chk_visuel)');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = valeur;
        }        
    }
</script>
{% endblock %}

{% block content %}

<form method="POST" id="mon-formulaire">

<div style = "text-align: left;">
    

    <button type="submit" name="update" class="btn btn-default">
        <i class="material-icons" style="vertical-align: middle;">arrow_back</i>
    </button>
    
</div>

<hr>

    <input type="checkbox" name="chk_visuel" id="chk_visuel"  {% if visuel %} checked {% endif %}/>
    <label for="chk_visuel">Titre avec visuel</label>

<hr>


    {% csrf_token %}

    <ul class="list-unstyled card-columns" style="column-count: 2;">
        {% for channel in channels %}
        <li style="margin-bottom: 2px;">            
            <input type="checkbox" value="{{channel.code}}" name="chk_channel" id="{{channel.code}}"  {% if channel.checked %} checked {% endif %}>
            <label for="{{channel.code}}">{{ channel.name }}</label>
        </li>
        {% endfor %}
    </ul>
</form>

<div class="d-flex justify-content-center">

    <button type="button" class="btn" style="margin-right: 5px;" onclick="checkAll(true)"><i class="material-icons" style="vertical-align: middle;">check_box</i></button>
    <button type="button" class="btn" style="margin-left: 5px;"onclick="checkAll(false)"><i class="material-icons" style="vertical-align: middle;">check_box_outline_blank</i></button>

</div>

<hr>

{% endblock %}