{% extends 'base_nav.html' %}
{% load static %}
{% block title %}{{programme.title}}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css"  href="{% static 'omtv/slick/slick.css' %}"/>
<link rel="stylesheet" type="text/css"  href="{% static 'omtv/slick/slick-theme.css' %}"/>
{% endblock %}

{% block script %}


<style>

    .title{
        font-size:x-large;
        font-weight:bold;
    }

    .prop{
        font-size:small;
    }

    .description{
        font-size:small;
        font-weight:normal;
        text-align: justify;
        line-height: 1.7;        
    }

    .actors{
        font-size:smaller;
        font-weight:normal ;
        color:gray;
        list-style-type: none; /* Retire les puces */
        padding: 0; /* Retire le padding par défaut */
        margin: 0; /* Retire la marge par défaut */        
    }

    .actor_pic{height: 150px; border: 1px solid rgb(136, 136, 136); border-radius: 5px;}

    /* ************************************************** */
    /* ********* RESPONSIVE MOBILE DEVICE *************** */
    /* ************************************************** */
    @media only screen and (max-width: 850px)
    {    
        .actor_pic{
            height: 200px;
        }
    }
    /* ************************************************** */
    /* ************************************************** */
    /* ************************************************** */

</style>


{% endblock %}

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->


{% block page_content %}

<span class="title"> {{programme.title}} </span>

<div style=" 
        display: flex;        
        justify-content: space-start;
        gap:12px;
        align-items: center;
        ">
    <img src="{{ programme.channel.visuel }}" style="height: 40px; background-color: rgb(82, 82, 82);"> 
    <span class="prop">{{ programme.hdeb }} </span>    
    <span class="prop">{{ programme.genre }}</span>    
    <span class="prop">{{ programme.year_and_countries }}</span>
    <span class="prop">{{ programme.duree }}</span>
</div>

<hr>

<div class="row">

    <div class="col-sm-auto mb-3">
        
        <div class="d-flex align-items-start">
            <a href="{{programme.imdb_url}}">
            <img style="height: 240px;" src="{{ programme.affiche }}" class="img-thumbnail" alt="{{ programme.title }}" title="{{ programme.title }}" onerror='this.onerror=null; this.src="{% static 'omtv/images/affiche_empty.jpg' %}";'>
            </a>
            <ul class="ms-3 actors">
                {% for actor in programme.actors %}
                    <li style="margin-bottom: 3px;">{{ actor.name }}</li>
                {% endfor %}
            </ul>        
    
        </div>
    </div>


    <div class="col-sm-auto mb-3">
        <img style="max-height: 240px;" src="{{ programme.visuel }}" class="img-thumbnail" alt="{{ programme.title }}" title="{{ programme.title }}">
    </div>

    <div class="col-sm mb-3 description">
        {{ programme.description }}
    </div>


</div>

<!-- *********************************************************** -->
<!-- *****************  IMAGES ACTEURS  ************************ -->
<!-- *********************************************************** -->

<HR>

<div style=" 
display: flex;        
justify-content: center;
gap:12px;
flex-wrap: wrap;
">
    {% for item in programme.actors_pic %}
        <!-- <img src="{{ item.url }}" class="img-thumbnail" style="height: 230px"> -->

        <div style="position: relative;">
            <a href="{{item.wikipedia_url}}" title="{{item.name}}">
                <img src="{{ item.url }}" class="actor_pic" >
            </a>
            <div style="position: absolute; 
                        bottom: 0; 
                        left: 50%; 
                        transform: translateX(-50%); 
                        text-align: center; 
                        font-size: small; 
                        font-weight: normal; 
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.2);">
                <p style="margin: 0;">{{ item.name }}</p>
            </div>                
        </div>

    {% endfor %}    

</div>

<!-- *********************************************************** -->
<!-- ***********************  VIDEOS  ************************** -->
<!-- *********************************************************** -->

<HR>

{% if programme.videos %}    

    <a href="{% url 'omtv:videos' %}?id={{programme.id}}"><img height="25px" src="{% static 'omtv/images/youtube.png' %}"></a>






    <div class="container mt-3">        
        {% for video_type, count in programme.videos_types.items %}
            <form class="video-form" data-video-type="{{ video_type }}" style="display:inline-block; margin-bottom: 5px;">
                {% csrf_token %}
                <input type="hidden" name="programme_id" value="{{ programme.id }}">
                <button type="button" 
                        class="btn btn-primary {% if crit_video_type == video_type %}active{% endif %}">
                    {{ video_type }} <span class="badge bg-secondary">{{ count }}</span>
                </button>
            </form>
        {% endfor %}
    </div>
    <label id="progress_txt" style="color: rgb(170, 240, 79); margin: 5;">ooo</label>





    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <div class="container">
        <h1>Video List</h1>
        <div id="video-buttons">
            {% for video in videos %}
                <button class="video-button" data-key="{{ video.key }}" data-name="{{ video.name }}">
                    {{ video.name }}
                </button>
            {% endfor %}
        </div>
        
        <div id="video-details">
            <!-- Details will be updated here -->
        </div>
    </div>


    <script>
        // Step 2: Store the videos in a JavaScript variable
        const videos = {{ videos|safe }}; // Make sure to use |safe or json_script
        console.log(videos);

        // Step 3: Update elements on button click
        $('.video-button').on('click', function() {
            const videoKey = $(this).data('key');
            const videoName = $(this).data('name');

            // Find the corresponding video details from the videos array
            const selectedVideo = videos.find(video => video.key === videoKey);

            // Update the video details section
            if (selectedVideo) {
                $('#video-details').html(`
                    <h2>${selectedVideo.name}</h2>
                    <p>Key: ${selectedVideo.key}</p>
                    <p>Type: ${selectedVideo.type}</p>
                `);
            }
        });
    </script>



    <script>
        $(document).ready(function(){
            $('.video-form button').on('click', function(){
                var form = $(this).closest('form');
                var videoType = form.data('video-type');
                var programmeId = form.find('input[name="programme_id"]').val();
                var csrfToken = form.find('input[name="csrfmiddlewaretoken"]').val();
    
                $.ajax({
                    type: 'POST',
                    url: "{% url 'omtv:videos_view' %}",
                    data: {
                        'video_type': videoType,
                        'programme_id': programmeId,
                        'csrfmiddlewaretoken': csrfToken
                    },
                    success: function(response){
                        txt = document.getElementById("progress_txt");
                        txt.textContent = response.res;
                        //alert('AJAX RETOUR');
                        
                    }
                });
            });
        });
    </script>
<!-- 
    url: "{% url 'omtv:videos_view' %}",
    url: 'http://localhost:8000/tv/get_progress', 
 -->


    






    <!-- <div class="container mt-3">        
        {% for video_type, count in programme.videos_types.items %}

            <a href="{% url 'omtv:videos' %}?id={{ programme.id }}&type={{ video_type }}" 
                class="btn btn-primary {% if crit_video_type == video_type %}active{% endif %}"
                style="margin-bottom: 5px;">
                {{ video_type }} <span class="badge bg-secondary">{{ count }}</span>
            </a>

        {% endfor %}
    </div> -->


    <!-- <div class="container mt-3">        
        {% for video_type, count in programme.videos_types.items %}
            <form method="post" action="{% url 'omtv:programme_fiche' %}" style="display:inline-block; margin-bottom: 5px;">
                {% csrf_token %}
                <input type="hidden" name="video_type" value="{{ video_type }}">
                <input type="hidden" name="programme_id" value="{{ programme.id }}">
                <button type="submit" class="btn btn-primary {% if crit_video_type == video_type %}active{% endif %}"> {{ video_type }} <span class="badge bg-secondary">{{ count }}</span></button>
            </form>
        {% endfor %}
    </div> -->


    <!-- <ul>
    {% for video in programme.videos %}
        <li>{{video.type}} - {{video.name}}</li>
    {% endfor %}
    </ul>
    -->


    <!-- <iframe class="embed-responsive-item" src="{{ programme.default_video }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%; height: auto; aspect-ratio: 16/9; border: none;"></iframe>  -->

    {% endif %}
<br>
    
{% endblock %}