{% extends 'base_nav.html' %}
{% load static %}
{% block title %}Films{% endblock %}

{% block script %}       
    <script src="{% static 'omtv/js/programmes.js' %}"></script>
{% endblock %}

{% block page_content %}


    {% include './programmes_dates.html' with dates=dates %}


    {% for tranche, programmes in grouped_programmes.items %}
        
        <center><label class="tranche">{{ tranche }}</label></center>

        {% for programme in programmes %}
            {% include './programme_item.html' with item=programme visuel=visuel %}
        {% endfor %}
    {% endfor %}


    
{% endblock %}