{% extends 'base_nav.html' %}
{% load static %}
{% block title %}Films{% endblock %}

{% block page_content %}

    <form id="mon_form" method="post">
        {% csrf_token %}        
        <input type="hidden" name="crit_date" id="crit_date" value="">
    </form>    
    
    <div class="d-flex justify-content-center">
        <ul class="pagination pagination-sm">

        {% for date in dates %}

            {% if date.selected %}
                <li class="page-item active" style="margin: 10px;" >
                    <a class="page-link" href="#">{{ date.name }}</a>
                </li>
            {% else %}            
                <li class="page-item">
                    <a class="page-link" href="#" style="margin: 10px;" 
                            onclick="event.preventDefault();
                            document.getElementById('crit_date').value = '{{ date.code }}'; 
                            document.getElementById('mon_form').submit();"
                            >{{ date.name }}
                    </a>
                </li>
            {% endif %}        
        {% endfor %}
        </ul>
    </div>


    {% for tranche, programmes in grouped_programmes.items %}
        
        <center><label class="tranche">{{ tranche }}</label></center>

        {% for programme in programmes %}
            {% include './programme_item.html' with item=programme visuel=visuel %}        
        {% endfor %}
    {% endfor %}


    
{% endblock %}