{% load static %}

<!-- https://www.w3schools.com/bootstrap/bootstrap_grid_system.asp -->



<div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#programme-{{ item.id }}" style="width: 100%; margin: 3px;white-space: normal;">
        <div class="row">

            <div class="col-sm-12" >



                <style>
                    table {
                        width: 100%; /* La table prend 100% de la largeur disponible */
                        border-collapse: collapse; /* Fusionner les bordures de cellules */
                    }
                
                    th, td {
                        border: 0px solid black; /* Bordures pour les cellules */
                        padding: 2px; /* Espacement interne */
                        text-align: center; /* Centrer le contenu */
                        vertical-align: middle;
                    }
                </style>



                <table style="width: 100%;">
                    <colgroup>
                        <col style="width: 30px;">  <!-- Première colonne avec une largeur fixe de 100px -->
                        <col>                       <!-- Deuxième colonne s'ajustera automatiquement -->
                        <col style="width: 80px;">  <!-- Troisième colonne avec une largeur fixe de 200px -->
                    </colgroup>


                    <tr>
                        <td>
                            <img 
                            src="{{ item.channel.visuel }}"
                            alt="{{ item.channel }}" 
                            title="{{ item.channel }}" 
                            style="border: 0px solid black; height: 40px;">
                        </td>

                        <td>                            
                            <span class="programme-title">{{ item.title }}</span>
                        </td>
                        <td>
                            <p class="programme-property-strong">{{ item.genre }}</p>
                            <p class="programme-property">{{ item.hdeb }} &nbsp; {{ item.duree }}</p>
                        </td>

                    </tr>
                </table>
                
                
            </div>

        </div>

    </button>


    <div id="programme-{{ item.id }}" class="collapse" style="padding: 10px;">
        <p>{{ item.description }}</p>
        <img class="img-rounded" src="{{item.visuel}}" style="width: 100%;">
    </div>


</div>