{% extends 'base_nav.html' %}
{% load static %}
{% block title %}{{programme.title}}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css"  href="{% static 'omtv/slick/slick.css' %}"/>
<link rel="stylesheet" type="text/css"  href="{% static 'omtv/slick/slick-theme.css' %}"/>
{% endblock %}

{% block script %}


<style>

    .title{
        font-size:x-large;
        font-weight:bold;
    }

    .prop{
        font-size:small;
    }

    .description{
        font-size:medium;
        font-weight:normal;
        text-align: justify;
        line-height: 1.5;
        width: 300px;
    }

    .actor{
        font-size:smaller;
        font-weight:bold ;
        color:gray;
    }

    .character{
        font-size:smaller;
        font-weight:normal ;
        font-style: italic;
        color:gray;        
    }

</style>

{% endblock %}

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->


{% block page_content %}
{% for p in programmes %}
<a href="{% url 'omtv:programme_fiche' %}?id={{p.id}}" >{{p.id}}</a> | 
{% endfor %}


<hr>
<span class="title"> {{programme.title}} </span>

<div style=" 
        display: flex;        
        justify-content: space-start;
        gap:20px;
        align-items: center;
        ">
    <img src="{{ programme.channel.visuel }}" style="height: 40px;"> 
    <span class="prop">{{ programme.hdeb }} </span>    
    <span class="prop">{{ programme.genre }}</span>    
    <span class="prop">{{ programme.year_and_countries }}</span>
    <span class="prop">{{ programme.duree }}</span>
</div>

<hr>


<div class="row">
    <div class="col border">
        

        <img 
        src="{{ programme.affiche }}"
        class="img-thumbnail"        
        alt="{{ programme.title }}" 
        title="{{ programme.title }}"
        style="height: 350px;"
        onerror="this.onerror=null; this.src='{% static 'omtv/images/affiche_empty.jpg' %}'"
    >

    </div>

    <div class="col border">
        {{ programme.description }}
    </div>
    
    <div class="col border">
        <ul>
            {% for actor in programme.actors %}
                <li>{{ actor.name }}</li>
            {% endfor %}
        </ul>        
    </div>

</div>




<hr>    
<!-- CAROUSEL PC -->    
{% include './slick_carousel.html' with carousel=programme.carousel image_size="height:250px;" slides_to_show=3 slides_to_scroll=3  %}



    
{% endblock %}