{% load static %}

<!-- https://www.w3schools.com/bootstrap/bootstrap_grid_system.asp -->



<div class="container">
    <button type="button" 
        class="btn btn-info" 
        data-bs-toggle="collapse" 
        data-bs-target="#programme-{{ item.id }}" 
        style="width: 100%; margin:3px; white-space: normal;"
        onclick="scrollToBottom('{{ item.id }}')"
        >
        
        <div class="row">

            <div class="col-sm-12" >

                <style>
                    table {
                        width: 100%; /* La table prend 100% de la largeur disponible */
                        border-collapse: collapse; /* Fusionner les bordures de cellules */
                    }
                
                    th, td {
                        border: 0px solid black; /* Bordures pour les cellules */
                        padding: 2px; /* Espacement interne */
                        text-align: center; /* Centrer le contenu */
                        vertical-align: middle;
                    }
                </style>



                <table style="width: 100%;">
                    <colgroup>
                        <col style="width: 30px;">  <!-- Première colonne avec une largeur fixe de 100px -->
                        <col>                       <!-- Deuxième colonne s'ajustera automatiquement -->
                        <col style="width: 80px;">  <!-- Troisième colonne avec une largeur fixe de 200px -->
                    </colgroup>


                    <tr>
                        <td>
                            <img 
                            src="{{ item.channel.visuel }}"
                            alt="{{ item.channel }}" 
                            title="{{ item.channel }}" 
                            style="border: 0px solid black; height: 40px;">                            
                        </td>

                        <td>                            
                            <span class="programme-title">{{ item.title }}</span>
                        </td>

                        <td>
                            <p class="programme-property-strong">{{ item.genre }}</p>
                            <p class="programme-property-strong">{{ item.hdeb_and_duree }}</p>
                            <p class="programme-property-strong">{{ item.year_and_countries }}</p>                            
                        </td>

                    </tr>
        
                </table>
                
                
            </div>

        </div>

    </button>

    {% if visuel %} 
        <div class="mt-1"></div> <!-- Ajoute un espace  -->
        {% include './carousel.html' with id=item.id carousel=item.carousel auto_slide=False %}
        <div class="mt-2"></div> <!-- Ajoute un espace  -->
    {% endif %}

    <div id="programme-{{ item.id }}" class="collapse" my_type="collapsable" style="padding: 10px;">
        <a href="{{item.imdb_url}}"><img width="80px" src="{% static 'omtv/images/TMDB.svg' %}" alt="{{item.title}} sur IMDB" title="{{item.title}} sur IMDB"></a>
        
        
        {% if programme.videos %}
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'omtv:videos' %}?id={{item.id}}"><img height="25px" src="{% static 'omtv/images/youtube.png' %}"></a>
        {% endif %}
        
        {% if user.is_authenticated %}
        &nbsp;
        <a href="{% url 'omtv:get_imdb_datas' %}?title={{item.title}}&light=1">More</a> | 
        <a href="{% url 'omtv:get_imdb_datas' %}?title={{item.title}}&light=0">More++</a> |

        <a href="{% url 'omtv:get_imdb_datas' %}?title={{item.title}}&light=1&jsonoutput=1">Json</a> |
        <a href="{% url 'omtv:get_imdb_datas' %}?title={{item.title}}&light=0&jsonoutput=1">Json++</a> |

        <a href="{% url 'omtv:my_carousel' %}?id={{item.id}}">MY CAROUSEL</a>

        {% endif %}
        
        {% if device == 'pc' %}

        <div class="row">
            <div class="col-md-4">
                        <p class="programme-property-description">{{ item.description }}</p>
            </div>
            <div class="col-md-4">
                        {% include './carousel.html' with id=item.id carousel=item.carousel auto_slide=False %}
            </div>
            <div class="col-md-4">
                {% for actor in item.actors %}
                    <p class="programme-property-actors">{{ actor.name }} ({{ actor.character }})</p>
                {% endfor %}
                        
            </div>
        </div>
            
        {% else %}
            <p class="programme-property-actors">{{ item.actors_name }}</p>
            <p class="programme-property-description">{{ item.description }}</p>        
            {% if not visuel %} 
                {% include './carousel.html' with id=item.id carousel=item.carousel auto_slide=False %}            
            {% endif %}
            
        {% endif %}

        
    </div>


</div>