

<form id="mon_form" method="post">
    {% csrf_token %}        
    <input type="hidden" name="crit_date" id="crit_date" value="">
</form>    

<div class="d-flex justify-content-between align-items-center">


    <ul class="pagination pagination-sm mb-0">


    {% for date in dates %}

        {% if date.selected %}
            <li class="page-item active" style="margin: 10px;" >
                <a class="page-link" href="#">{{ date.name }}</a>
            </li>
        {% else %}            
            <li class="page-item">
                <a class="page-link" style="margin: 10px;" href="{% url url_name %}?date={{ date.code }}">{{ date.name }}</a>
            </li>
        {% endif %}        
    {% endfor %}
    </ul>

</div>