{% extends 'base_nav.html' %}
{% load static %}
{% block title %}Statistiques{% endblock %}

{% block script %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}

{% block page_content %}

    <br>
    Programmes count : {{programmes_count}}
    <br>
    Dates count : {{dates_count}}
    <br>
    Max Updated : {{max_updated_at}}
    <br>
    <br>
    {{ div_count_by_date|safe }}
    <br>

    {{ div_count_by_channel|safe }}
    <br>
    {{ div_count_by_genre|safe }}

{% endblock %}  